{% extends 'base.html.twig' %}

{% block title %}Prostage, Entreprises{% endblock %}

{% block nomPage %}
 <h3>Entreprises</h3>
{% endblock %}

{% block  leTableau %} 
<thead>
    <tr>
        <th>
            Nom de l'entreprise
        </th>
        <th>
            Activité
        </th>
        <th>
            Adresse
        </th>
    </tr>
</thead>
<tbody>
    {% for entrepriseCourante in entreprises %}
    <tr>
        <td>
            <a class="nav-link" href="{{path('prostage_EntrepriseID', {id:entrepriseCourante.id})}}">
            {{entrepriseCourante.Nom}}
        </td>
        <td>
            {{entrepriseCourante.activite}}
        </td>
        <td>
            {{entrepriseCourante.adresse}}
        </td>
        </a>
    </tr>
    {% endfor %}
{% endblock %}