{% extends 'base.html.twig' %}

{% block contenu %}

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action">Gringo</button>
  <button type="button" class="list-group-item list-group-item-action">Caracho</button>
  <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
</div>




{% endblock %}