{% extends 'base.html.twig' %}

{% block contenu %}

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action">MASfgo</button>
  <button type="button" class="list-group-item list-group-item-action">CaraQSFcho</button>
  <button type="button" class="list-group-item list-group-item-action">A fourthQSQS button item</button>
</div>




{% endblock %}