<h1>Bienvenue sur ProStage !</h1>

<p>
    Vous trouverez ci-dessous les dernières ressources pédagogiques ajoutées sur ProStage.
</p>
<ul>
    <li>
        <a href="{{path('prostage_ressource', {id:5})}}">Exo1 - TP3 - M1102</a>
    </li>
    <li>
        <a href="{{path('prostage_ressource', {id:152})}}">Tuto sur les fonctions</a>
    </li>
    <li>
        <a href="{{path('prostage_ressource', {id:726})}}">Tabula rasa</a>
    </li>
</ul>